[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/tmux/fonts"]
	path = tmux/tmux/fonts
	url = https://github.com/powerline/fonts.git
[submodule "tmux/tmux/plugins/tpm"]
	path = tmux/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/lambda-gitster"]
	path = zsh/lambda-gitster
	url = https://github.com/ergenekonyigit/lambda-gitster.git
