---
- name: Install Veracrypt
  ansible.builtin.apt:
    deb: "https://launchpad.net/veracrypt/trunk/{{ veracrypt_version }}/+download/{{ veracrypt_artifact_version }}.deb"
    state: present
  become: true
