[user]
        name = {{ git_username }}
	email = {{ git_email }}
[push]
	default = current
[alias]
	st = status
	co = checkout
	squash = commit --amend -C HEAD
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	editor = nvim
	pager = less
[fetch]
	prune = true
[rebase]
	autosquash = true
[diff]
	tool = nvimdiff
	guitool = vscode
[difftool]
	prompt = false
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[merge]
	tool = nvimdiff
	guitool = vscode
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "vscode"]
	keepBackup = false
	cmd = code --wait $MERGED
[mergetool "nvimdiff"]
	keepBackup = false
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED
[pull]
	ff = only

