---
git_username: <your_name>
git_email: <your_email>
# Remove this key if you don't need gpp signing
git_signing_key: <your_gpg_key_id>

shell_user_locales:
  LANG: en_US.UTF-8
  LANGUAGE: en
  LC_ADDRESS: fr_FR.UTF-8
  LC_COLLATE: C
  LC_CTYPE: fr_FR.UTF-8
  LC_MONETARY: fr_FR.UTF-8
  LC_MEASUREMENT: fr_FR.UTF-8
  LC_MESSAGES: fr_FR.UTF-8
  LC_NAME: fr_FR.UTF-8
  LC_NUMERIC: fr_FR.UTF-8
  LC_PAPER: fr_FR.UTF-8
  LC_RESPONSE: fr_FR.UTF-8
  LC_TELEPHONE: fr_FR.UTF-8
  LC_TIME: fr_FR.UTF-8

urxvt_font: "roboto"

oh_my_zsh_plugins:
  - git
  - zsh-autosuggestions

asdf_plugins:
  python:
    versions:
      - "3.9.2"
  nodejs:
    versions:
      - "14.16.0"
  golang:
    versions:
      - "1.16"

todo_path: '/home/<your_user>/.config/todo'

vscode_extensions:
  - DavidAnson.vscode-markdownlint
  - donjayamanne.githistory
  - eamodio.gitlens
