#!/usr/bin/env bash

processes="$(pgrep yarr)"

if [ $? -eq 0 ]; then
    xdg-open http://localhost:{{ yarr_local_port }}
else
    yarr -db {{ yarr_db_path }} -addr 127.0.0.1:{{ yarr_local_port }} -open &
fi
